<!-- <!DOCTYPE html> -->
<%# Navigation bar %>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<img alt="Meter" src="http://<%= host %>/images/logo.png" class="logo">
			<a class="navbar-brand" href="/">Mileage Manager</a>
		</div>

		<% if (page !== "authen" && !(typeof authen !== 'undefined' && authen === false)) { %>						
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#readings_entry_section">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="#chart_section">Chart</a></li>
					<li><a href="#readings_list_section">Data</a></li>
					<li><a href="/readings/statistics">Statistics</a></li>
				</ul>

				<!-- <form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input class="form-control" placeholder="Search" type="text">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form> -->

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= user_name %> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="authen/change_password">Change Password</a></li>
							<li><a href="settings">Settings</a></li>
							<li class="divider"></li>
							<li><a href="/authen/signout"> Sign Out </a></li>
						</ul>
					</li>
				</ul>		
			</div>
		<% } %>	
	</div>
</nav>

<%# Page header %>
<% if(title !== 'hide_title') { %>
	<div class="container page-header">
		<h1>
			<% if( typeof title !== 'undefined') {%>
				<%= title %>
			<% } else { %>
				Mileage Manager
			<% } %>
		</h1>

		<% if( typeof header_msg !== 'undefined') {%>
			<p> <%= header_msg %> </p>
		<% } %>
	</div>
<% } %>

<%# Alert message bar %>
<% if( typeof alert_msg !== 'undefined' && alert_msg != null) {%>
	<div class="container">
		<div class="alert alert-success" role="alert"> <%= alert_msg %> </div>
	</div>
<% } %>